= #:css
= #html, body { margin: 0; padding: 0; }.diff-file{position:relative}.diff-file textarea.file-content{display:none;width:99%;height:95%;max-height:500px;position:absolute;top:30px;background-color:#333;color:#ccc;font-family:"Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;border:1px solid #000}.diff-file .diff-header{position:relative;padding:5px 10px;color:#9e9e9e;background-color:#212121}.diff-file .diff-header>strong{font-family:"Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;font-weight:normal}.diff-file .diff-header .diff-btn-group{float:right}.diff-file .diff-header .diff-btn-group .btn{background-color:#EEE;color:#666;font-weight:bolder}.diff-file .diff-header .commit-short-id{font-family:"Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;font-size:smaller}.diff-file .diff-header .file-mode{font-family:"Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace}.diff-file .diff-content{border:1px solid #212121;border-top:0;overflow:auto;overflow-y:hidden;background:#212121;color:#616161;font-size:14px}.diff-file .diff-content .old span.idiff{background-color:#FAA}.diff-file .diff-content .new span.idiff{background-color:#AFA}.diff-file .diff-content table{width:100%;font-family:"Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;border:none;margin:0px;padding:0px;border-collapse:collapse}.diff-file .diff-content table tr td{line-height:20px;font-size:14px;background-color:#212121}.diff-file .diff-content table tr td pre{background-color:#212121}.diff-file .diff-content table tr.addition td{background-color:rgba(0,200,83,0.09)}.diff-file .diff-content table tr.addition td pre{background-color:transparent}.diff-file .diff-content table tr.addition td i.state:before{font-style:normal;content:"+";color:#4CAF50}.diff-file .diff-content table tr.deletion td{background-color:rgba(244,67,54,0.09)}.diff-file .diff-content table tr.deletion td pre{background-color:transparent}.diff-file .diff-content table tr.deletion td i:before{font-style:normal;content:"-";color:#F44336}.diff-file .diff-content table tr:hover td{background-color:rgba(255,255,255,0.02)}.diff-file .diff-content table tr:hover td pre{background-color:rgba(255,255,255,0.02)}.diff-file .diff-content .text-file-parallel div{display:inline-block;padding-bottom:16px}.diff-file .diff-content .diff-side{overflow-x:scroll;width:508px;height:700px}.diff-file .diff-content .diff-side.diff-side-left{overflow-y:hidden}.diff-file .diff-content .diff-side table,.diff-file .diff-content td.diff-middle table{height:700px}.diff-file .diff-content .diff-middle{width:114px;vertical-align:top;height:700px;overflow:hidden}.diff-file .diff-content .old_line:before,.diff-file .diff-content .new_line:before{content:attr(data-lnum)}.diff-file .diff-content .old_line,.diff-file .diff-content .new_line,.diff-file .diff-content .diff_line{margin:0px;padding:0px;border:none;padding:0px 5px;border-right:1px solid #212121;color:#505050;text-align:right;min-width:35px;max-width:50px;width:35px;font-family:Consolas, "Liberation Mono", Courier, monospace}.diff-file .diff-content .old_line a,.diff-file .diff-content .new_line a,.diff-file .diff-content .diff_line a{float:left;width:35px;font-weight:normal;color:#666}.diff-file .diff-content .old_line a:hover,.diff-file .diff-content .new_line a:hover,.diff-file .diff-content .diff_line a:hover{text-decoration:underline}.diff-file .diff-content .old_line.new,.diff-file .diff-content .new_line.new,.diff-file .diff-content .diff_line.new{color:green}.diff-file .diff-content .old_line.old,.diff-file .diff-content .new_line.old,.diff-file .diff-content .diff_line.old{background:#FDD}.diff-file .diff-content .diff_line{padding:0}.diff-file .diff-content .line_holder.old .old_line,.diff-file .diff-content .line_holder.old .new_line{background:#FCC;border-color:#E7BABA}.diff-file .diff-content .line_holder.new .old_line,.diff-file .diff-content .line_holder.new .new_line{background:#CFC;border-color:#B9ECB9}.diff-file .diff-content .line_content{display:block;position:relative;height:20px;margin:0px;padding:0px;border:none}.diff-file .diff-content .line_content .state{position:absolute;left:10px;top:0}.diff-file .diff-content .line_content pre{padding:0px 30px;margin:0}.diff-file .diff-content .line_content.new{color:green}.diff-file .diff-content .line_content.old{background:#FDD}.diff-file .diff-content .line_content.matched{color:#ccc;background:#fafafa}.diff-file .diff-content .line_content.parallel{display:table-cell}.diff-file .image{background:#ddd;text-align:center;padding:30px}.diff-file .image .wrap{display:inline-block}.diff-file .image .frame{display:inline-block;background-color:#fff;line-height:0}.diff-file .image .frame img{border:1px solid #FFF;background:image-url("trans_bg.gif");max-width:100%}.diff-file .image .frame.deleted{border:1px solid red}.diff-file .image .frame.added{border:1px solid green}.diff-file .image .image-info{font-size:12px;margin:5px 0 0 0;color:grey}.diff-file .image .view.swipe{position:relative}.diff-file .image .view.swipe .swipe-frame{display:block;margin:auto;position:relative}.diff-file .image .view.swipe .swipe-wrap{overflow:hidden;border-left:1px solid #999;position:absolute;display:block;top:13px;right:7px}.diff-file .image .view.swipe .frame{top:0;right:0;position:absolute}.diff-file .image .view.swipe .frame.deleted{margin:0;display:block;top:13px;right:7px}.diff-file .image .view.swipe .swipe-bar{display:block;height:100%;width:15px;z-index:100;position:absolute;cursor:pointer}.diff-file .image .view.swipe .swipe-bar:hover .top-handle{background-position:-15px 3px}.diff-file .image .view.swipe .swipe-bar:hover .bottom-handle{background-position:-15px -11px}.diff-file .image .view.swipe .swipe-bar .top-handle{display:block;height:14px;width:15px;position:absolute;top:0px;background:image-url("swipemode_sprites.gif") 0 3px no-repeat}.diff-file .image .view.swipe .swipe-bar .bottom-handle{display:block;height:14px;width:15px;position:absolute;bottom:0px;background:image-url("swipemode_sprites.gif") 0 -11px no-repeat}.diff-file .image .view.onion-skin .onion-skin-frame{display:block;margin:auto;position:relative}.diff-file .image .view.onion-skin .frame.added,.diff-file .image .view.onion-skin .frame.deleted{position:absolute;display:block;top:0px;left:0px}.diff-file .image .view.onion-skin .controls{display:block;height:14px;width:300px;z-index:100;position:absolute;bottom:0px;left:50%;margin-left:-150px}.diff-file .image .view.onion-skin .controls .drag-track{display:block;position:absolute;left:12px;height:10px;width:276px;background:image-url("onion_skin_sprites.gif") -4px -20px repeat-x}.diff-file .image .view.onion-skin .controls .dragger{display:block;position:absolute;left:0px;top:0px;height:14px;width:14px;background:image-url("onion_skin_sprites.gif") 0px -34px repeat-x;cursor:pointer}.diff-file .image .view.onion-skin .controls .transparent{display:block;position:absolute;top:2px;right:0px;height:10px;width:10px;background:image-url("onion_skin_sprites.gif") -2px 0px no-repeat}.diff-file .image .view.onion-skin .controls .opaque{display:block;position:absolute;top:2px;left:0px;height:10px;width:10px;background:image-url("onion_skin_sprites.gif") -2px -10px no-repeat}.diff-file .view-modes{padding:10px;text-align:center;background-image:-webkit-gradient(linear, 0 0, 0 30, color-stop(0.066, #eee), to(#dfdfdf));background-image:-webkit-linear-gradient(#eee 6.6%, #dfdfdf);background-image:-moz-linear-gradient(#eee 6.6%, #dfdfdf);background-image:-ms-linear-gradient(#eee 6.6%, #dfdfdf);background-image:-o-linear-gradient(#eee 6.6%, #dfdfdf)}.diff-file .view-modes ul,.diff-file .view-modes li{list-style:none;margin:0;padding:0;display:inline-block}.diff-file .view-modes li{color:grey;border-left:1px solid #c1c1c1;padding:0 12px 0 16px;cursor:pointer}.diff-file .view-modes li:first-child{border-left:none}.diff-file .view-modes li:hover{text-decoration:underline}.diff-file .view-modes li.active{cursor:default;color:#333}.diff-file .view-modes li.active:hover{text-decoration:none}.diff-file .view-modes li.disabled{display:none}.highlight{margin-bottom:30px;overflow:auto;background-color:inherit !important}.highlight table{border-collapse:collapse}.highlight table td.gutter{padding-right:10px;color:#505050;font-size:14px;border-right:1px solid #333}.highlight table td.code{font-size:14px}.highlight table td.code pre{margin-left:10px}.highlight table td{padding:5px}.highlight table pre{margin:0}.highlight,.highlight .w{color:#93a1a1;background-color:#002b36}.highlight .err{color:#151515;background-color:#ac4142}.highlight .c,.highlight .cd,.highlight .cm,.highlight .c1,.highlight .cs{color:#505050}.highlight .cp{color:#f4bf75}.highlight .nt{color:#f4bf75}.highlight .o,.highlight .ow{color:#d0d0d0}.highlight .p,.highlight .pi{color:#d0d0d0}.highlight .gi{color:#90a959}.highlight .gd{color:#ac4142}.highlight .gh{color:#6a9fb5;background-color:#151515;font-weight:600}.highlight .k,.highlight .kn,.highlight .kp,.highlight .kr,.highlight .kv{color:#aa759f}.highlight .kc{color:#d28445}.highlight .kt{color:#d28445}.highlight .kd{color:#d28445}.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .sh,.highlight .sx,.highlight .s1{color:#90a959}.highlight .sr{color:#75b5aa}.highlight .si{color:#8f5536}.highlight .se{color:#8f5536}.highlight .nn{color:#f4bf75}.highlight .nc{color:#f4bf75}.highlight .no{color:#f4bf75}.highlight .na{color:#6a9fb5}.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .il,.highlight .mo,.highlight .mb,.highlight .mx{color:#90a959}.highlight .ss{color:#90a959}.highlight .w{background-color:inherit}
= #@content2.html_safe
= #@content.html_safe
:scss
  body {
      overflow: hidden;
      background: #333;
  }
  #editor {
      margin: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  }
  #panel {
    position: absolute;
    bottom: -60px;
    height: 60px;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: #222;
  }
  #player {
    height: 400px;
    max-width: 800px;
    border: 1px solid #333;
    position: relative;
    margin: 50px auto;
  }
= #%script{src: "https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"}
%script{src: "http://localhost:8000/build/js/live-editor.editor_ace_deps.js"}

#player
  #editor
  #panel

:javascript
  window.editor = ace.edit("editor")
  editor.setTheme("ace/theme/monokai")
  editor.getSession().setMode("ace/mode/javascript")
  editor.getSession().setUseSoftTabs(true)

  const DB = require("ace/DB")
  let component;

  const videoId = parseInt(window.location.hash.substring(1))
  if (videoId) {
    // player
    const data = DB[videoId]
    if (data) {
      const Commands = require("ace/Commands")
      const props = Commands(data)
      const PlayerView = require("ace/PlayerView")
      const Player = require("ace/Player")
      const player = Player(PlayerView, editor)
      component = React.createElement(player, props)
      ReactDOM.render(component, document.getElementById("panel"))
    }
  } else {
    // recorder
    const RecorderView = require("ace/RecorderView")
    const Recorder = require("ace/Recorder")
    const recorder = Recorder(RecorderView, editor)
    const props = {}
    component = React.createElement(recorder, props)
    ReactDOM.render(component, document.getElementById("panel"))
  }

